# --------------------------------------
# Ignore vim temp files
# --------------------------------------
*.swp



# --------------------------------------
# Python modules cache
# --------------------------------------
__pycache__/
*.py[cod]
